@model WebServerSignalR.Models.Index

    @{
        ViewBag.Title = "Broadcast SQL";
    }

    <br />

    <form action="/Index/Broadcast" method="post">
        <table style="width: 100%">
            <tr>
                <td style="width: 15%">
                    <label for="idClient">Id Cliente:</label>
                </td>
                <td style="width: 85%">
                    <input type="text" name="Codigo" id="Codigo" style="width: 80px" maxlength="5" value="45" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sql">Consulta Sql:</label>
                </td>
                <td>
                    <input type="text" name="Consulta" id="Codigo" style="width: 700px" value="select * from dadosmaxima" />
                </td>
            </tr>
        </table>

        <br />
        <input type="submit" id="btnEnviar" value="Enviar" />

        <br />
    </form>